<launch>
<!-- 
Connect the em7180 to your Raspberry Pi

For the RPi
SDA and SCL should have external pull-up resistors (to 3.3V). (4.7 k)

Hardware setup:
EM7180 __________ RPi 3
3V3 _____________ 1 (3.3V)
SDA _____________ 3 (SDA)
SCL _____________ 5 (SCL)
GND _____________ 9 GND
INT _____________ ???

-->


	<node pkg="em7180_imu" type="em7180_driver.py" name="Driver_Node" output="screen" />
    
</launch>