<?xml version="1.0" encoding="utf-8"?>

<launch>
	<node pkg="em7180_imu" type="imu_driver_node.py" name="imu_driver" output="screen" respawn="true">
		<!-- Find youor declination - http://www.magnetic-declination.com -->
		<param name="declination" value="0.0" />
		<param name="imu_yaw_calibration" value="0.0" />
	</node>
</launch>

